@media (max-width: 900px) {
  .column {
    width: 100% !important;
    max-width: 45% !important;
  }
}

@media (max-width: 480px) {
  .header {
    position: fixed !important;
    width: 100%;
    z-index: 100;

    background-color: #2d3035 !important;
  }

  .header_auth_data {
    display: none !important;
  }

  .burger_btn_wrapper {
    display: flex !important;
  }

  .burger_btn_wrapper.hide {
    display: none !important;
  }

  .burger_menu_wrapper {
    display: block !important;
  }

  .main {
    padding-top: 60px;
  }

  .column {
    width: 100% !important;
    max-width: none !important;
  }

  .login_wrapper {
    padding-top: 50px;
  }

  .login_error_message {
    max-width: 90%;
  }
}